cbs:
  jwt:
    expiresAfter: 2592000000
    secret_key: 7A244326452948404D635166546A576E5A7234753778214125442A472D4A614E
  students:
    confirmEmail:
      baseUrl: https://cbs-25di.onrender.com/api/students/confirm?token=
      newLink:
        baseUrl: https://cbs-25di.onrender.com/api/students/confirm/new-link?token=
  affiliates:
    confirmEmail:
      baseUrl: https://cbs-25di.onrender.com/api/affiliates/confirm?token=
      newLink:
        baseUrl: https://cbs-25di.onrender.com/api/affiliates/confirm/new-link?token=

spring:
  h2:
    console:
      enabled: true
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:file:./h2File
  jpa:
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 465
    username: divadchigozie@gmail.com
    password: nzbe btlx xpyf znqw
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          connectiontimeout: 100000
          timeout: 3000
          writetimeout: 5000